# Copy config.ini.sample to config.ini or run program once to generate new config.ini file.
[DEFAULT]
windowsposition = 200x60-0-50

[scale]
ip = 192.168.1.100,192.168.1.101,192.168.1.102
port = 1749